:root {
    --green: rgb(142, 180, 110);
    --darkgreen: rgb(122, 156, 95);
    --white: #ffffff;
    --gray: #ddd;
}

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: 1px solid rgb(230, 230, 230);
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border: 2px solid rgb(230, 230, 230);
    background: rgb(255, 255, 255);
}

/* Create a top navigation bar with a black background color  */
.topnav {
    background-color: var(--green);
    overflow: hidden;
    position: relative;
    padding: 2pt;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    padding: 10pt;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    display: table-cell;
    height: 40px;
    border-radius: 5pt;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: var(--darkgreen);
}

.topnav img {
    padding: 10pt;
    float: left;
    color: rgb(0, 0, 0);
    border-radius: 5pt;
}

.topnav img:hover {
    background-color: var(--darkgreen)
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
    color: rgb(0, 0, 0);
}

.header {
    background: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-around;
}

.footer {
    background: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.header-elem {
    flex-grow: 3;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 800pt;
    min-height: 70vh;
    padding: 20px;
    margin: auto;
}

.break_flex {
    flex-basis: 100%;
    height: 0;
}

.card {
    background-color: rgb(255, 255, 255);
    padding: 20pt;
    margin: 10pt;
    border-radius: 5pt;
    box-shadow: 0 3px 5px var(--green);
}

.toggler {
    font-size: 12pt;
    margin: 10pt;
    border: 0;
    color: darkgreen;
    background-color: transparent;
}

button {
    background-color: var(--green);
    border-radius: 5px;
    border: none;
}

button:hover {
    font-weight: bold;
    background-color: var(--darkgreen);
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: var(--green);
    border: 0;
    border-radius: 0;
    color: var(--white);
    padding: 5pt;
    border-radius: 3pt;
}

input[type=submit]:hover {
    color: black;
    background-color: var(--gray);
}

#loadingIcon{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  border: 1px solid #ddd;
  border-radius: 4px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }